.Container {
 position: fixed;
 top: 0;
 background-color: white;
 width: 100%;
 height: 60px;
 padding: 0px 10px;
 display: flex;
 align-items: center;
 z-index: 999;
}

.Left {
 flex: 1;
 display: flex;
}

.Language {}

.SearchContainer {
 margin-left: 10px;
 display: flex;
 align-items: center;
 border: 1.5px solid gray
}

.Input {
 border: none;
 outline: none;
 height: 20px
}

.Center {
 flex: 1;
 text-align: center;
 font-size: 50px;
 font-weight: 500;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 cursor: pointer;
}

.Right {
 flex: 1;
 display: flex;
 justify-content: flex-end
}

.MenuItem {
 margin-right: 20px;
 cursor: pointer
}

.MenuItem2 {
 margin-right: 20px;
 background-color: teal;
 color: white;
 padding: 5px 10px;
 font-size: 18px;
 border-radius: 10px;
 cursor: pointer
}



@media only screen and (max-width:380px) {
 .Container {
  padding: 0px 5px;
 }


 .Left {}

 .Language {
  display: none;
 }

 .SearchContainer {
  margin-left: 0px;
  padding: 5px;
  border: none;
 }

 .Input {
  width: 60px
 }

 .Center {
  font-size: 35px;
 }

 .Right {
  flex: 2;
  align-items: center;
 }

 .MenuItem {
  margin: 0 10px;
  font-size: 13px;
 }
}