.Container {
 width: '100%';
 display: flex;
 flex-wrap: wrap;
}

.Title {
 width: 100%;
 text-align: center;
 font-size: 50px;
 font-weight: 500;
 font-family: monospace;
}

@media only screen and (max-width:380px) {
 .Container {
  flex-direction: column;
  align-items: center;
 }

 .Title {
  font-size: 35px;
 }
}