.Container {
  height: calc(100vh - 60px);
  width: 100vw;
  display: flex;
  align-items: center;
}

.imgContainer {
  flex: 1;
  width: 50%;
  height: 50%;
  position: relative;
}

.Form {
  flex: 1;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.Title {
  font-weight: 300;
}

.InputContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Input {
  margin: 10px 0px;
  padding: 10px 5px;
  width: 45%;

}

.Agreement {
  font-size: 13px;
  margin: 10px 0;
}

.Button {
  padding: 15px;
  width: 30%;
  font-size: 18px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

@media only screen and (max-width:380px) {

  .Container {
    height: auto;
    flex-direction: column;
    align-items: center;
  }


  .imgContainer {
    flex: auto;
    height: 150px;
    width: 150px
  }

  .Form {
    width: 90%;
    padding: 5px 10px;
    align-items: center;
  }

  .InputContainer {
    justify-content: center;
  }

  .Input {
    width: 60%
  }

  .Button {
    width: 40%
  }


}